@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.about {
  animation: fadeCardFromTop 0.2s ease forwards;
  @include flex(unset, column, unset, unset);

  &__me {
    font-weight: normal;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__mobile-nav {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__nav-menu {
    padding: 0.25rem 1rem;
    margin: 0.25rem 0;
    background-color: darken($electricBlue, 30%);
    @include flex(unset, row, center, start);

    &:active {
      background-color: darken($electricBlue, 20%);
    }
    &-active {
      background-color: darken($electricBlue, 20%);

      img {
        rotate: 90deg;
      }
    }
  }

  &__menu-item-container {
    animation: fadeCardFromTop 0.2s ease forwards;
  }

  &__menu-item {
    color: lighten($neonPurple, 20%);
    @include flex(unset, row, center, start);
    padding: 0.5rem 1rem 0.5rem 2.5rem;

    &-active {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__item-img {
    width: 20px;
    margin-right: 0.75rem;
  }
}
