@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.text {
  &__container {
    animation: fadeCardFromTop 0.3s ease forwards;

    @include flex(unset, column, unset, unset);
  }

  &__header {
    margin: 1rem 0;
    &-section {
      color: white;
      margin-left: 2rem;
    }

    &-subSection {
      margin-left: 1rem;
      color: lighten($neonPurple, 10%);
    }
  }

  //hard skills
  &__skill-container {
    animation: fadeCardFromTop 0.3s ease forwards;
    margin: 0 0 1rem 2rem;
  }
  &__language-header {
    color: lighten($electricBlue, 30%);
    // color: $lightBlue;
    // color: darken($green, 15%);
    font-weight: 600;
  }
  &__language-container {
    @include flex(unset, row, center, start);
    flex-wrap: wrap;
  }
  &__language-item-container {
    @include flex(unset, column, center, start);
    margin-right: 0.5rem;
  }
  &__language-item-subtitle {
    font-size: 12px;
  }
  &__language-img {
    width: 2.5rem;
    height: 3rem;
    margin: 0.5rem 0.25rem;
  }

  // education
  &__education {
    @include flex(unset, row, center, start);
    margin: 1rem 1rem 1rem 2rem;
  }

  &__education-img {
    width: 4rem;
    cursor: pointer;
  }
  &__education-info {
    margin-left: 1rem;
  }
  &__education-degree {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  &__education-degree {
  }
  &__education-name {
    color: lighten($electricBlue, 30%);
    font-weight: 500;
  }

  &__education-location,
  &__education-grade {
    margin-bottom: 0.75rem;
  }

  &__education-grade {
    color: $green;
    font-weight: 500;
  }
  &__education-timeline {
    font-size: 0.75rem;
    border: 1px solid $electricBlue;
    padding: 0.5rem;
    width: 9rem;
  }
}

.alterTextContainer {
  animation: fadeCard 0.3s ease forwards;
}
