@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  color: white;
}
