//colors
$paleBlue: #e3f2fd;
$charcoal: #36474f;
$neutral: #f0f4f8;
$mint: #a5d6a7;
$coral: #ff6f61;
$lavender: #ede7f6;
$indigoBlue: #3949ab;
//screen-size-thresholds
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
