@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.home {
  animation: fadeCardFromTop 0.2s ease forwards;
  position: relative;
  @include flex(unset, column, unset, unset);

  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }

  &__block-1 {
    padding: 6rem 1rem 2rem 2rem;

    @include tablet {
      width: 50vw;
    }
    @include desktop {
      width: 50vw;
    }
  }

  &__gradient1 {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(62, 255, 8, 0.25),
      rgba(0, 184, 204, 0.1)
    );
    border-radius: 0% 50%;
    position: absolute;
    top: 8%;
    width: 250px;
    height: 250px;

    left: 1%;
    z-index: 10;

    filter: blur(35px);

    @include tablet {
      width: 350px;
      height: 350px;
    }
    @include desktop {
      width: 350px;
      height: 350px;
    }
  }

  &__gradient2 {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(0, 184, 204, 0.1),
      rgba(0, 184, 204, 0.1)
    );
    border-radius: 0 0 50% 50%;
    position: absolute;

    top: 20%;

    left: 22%;
    rotate: 10deg;
    width: 250px;
    height: 250px;
    filter: blur(25px);
    z-index: 1;

    @include desktop {
      left: 19%;
    }
  }
  &__head {
    // padding: 6rem 1rem 1rem 1rem;
    // @include tablet {
    //   padding-left: 12rem;
    // }

    // @include desktop {
    //   padding-left: 12rem;
    // }
  }
  &__hello {
    color: lighten($neonPurple, 25%);
    font-size: 1.125rem;
  }
  &__name {
    padding-top: 0.5rem;
    font-size: 3.625rem;
    color: lighten($neonPurple, 25%);
    font-weight: 600;

    &-last {
      @include tablet {
        display: block;
      }

      @include desktop {
        display: block;
      }
    }
  }

  &__designation {
    padding-top: 1rem;
    font-size: 1.25rem;
    color: $electricBlue;
    font-weight: 500;

    &-cursor {
      font-weight: 500;
      color: lighten($neonPurple, 10%);
      animation: breathing 0.5s infinite alternate;
    }

    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  &__info {
    padding: 2rem 1rem 1rem 0;

    @include tablet {
      padding: 4rem 1rem 12rem 0;
    }

    @include desktop {
      padding: 4rem 1rem 12rem 0;
    }
  }
  &__infoTitle {
    padding-bottom: 1rem;
    color: lighten($neonPurple, 10%);
  }

  &__gitLink {
    a {
      text-decoration: none;
    }
    &-const {
      color: $electricBlue;
    }
    &-variable {
      color: $green;
    }
    &-link {
      color: lighten(red, 15%);

      border-bottom: 1px solid lighten(red, 15%);
    }
  }
  &__block-2 {
    padding: 1rem 1rem 2rem 2rem;
    @include tablet {
      padding-top: 5rem;
      padding-right: 4rem;
      width: 50vw;
    }

    @include desktop {
      padding-top: 5rem;
      padding-right: 4rem;
      width: 50vw;
    }
  }

  &__bio-header {
    margin-bottom: 1rem;
    color: lighten($electricBlue, 30%);
    font-weight: 600;

    @include tablet {
      font-size: 1.125rem;
    }
    @include desktop {
      font-size: 1.125rem;
    }
  }
  &__bio {
    color: $lightBlue;

    @include tablet {
      font-size: 1.125rem;
    }
    @include desktop {
      font-size: 1.125rem;
    }
  }
}
