@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.footer {
  @include flex(100%, row, center, space-between);
  border-top: 0.5px solid darken($neonPurple, 40%);

  &__findMe {
    color: lighten($neonPurple, 10%);
    margin-left: 1rem;
  }

  &__socialContainer {
    @include flex(unset, row, center, space-between);
  }
  &__linkContainer {
    @include flex(unset, row, center, center);
    border-left: 0.5px solid darken($neonPurple, 40%);
    padding: 0.5rem;
    &:hover {
      background-color: darken($electricBlue, 34%);

      svg {
        fill: lighten($neonPurple, 10%);
      }
    }
    cursor: pointer;
  }
  &__link svg {
    fill: darken($neonPurple, 40%);
  }
}
