@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
  // position: relative;
  &__mobile-nav {
    @include flex(100%, row, center, space-between);
    border-bottom: 0.5px solid darken($neonPurple, 40%);

    padding: 0.5rem 1rem 0.5rem 1rem;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__mobile-name {
    color: lighten($neonPurple, 10%);
  }

  // menu

  &__listHolder {
    list-style: none;
  }

  &__list {
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid darken($neonPurple, 40%);
    color: lighten($neonPurple, 10%);

    &-active {
      color: white;
    }
  }
}
